html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    --main-c: #fa694e;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
     .container {
      max-width: 1320px;
    }
  }

header {
    width: 100%;
    height: 100vh;
    background-image: url('bg.jpg');
    background-size: cover;
    position: relative;
}
header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;

}
header .container {
    position: relative;
    z-index: 2;
    height: 100%;
}
header .container .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container .nav-bar .fa-bars{
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}
header .container .logo  {
    cursor: pointer;
    margin-top: 5px;
}
header .info-text {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

}
header .info-text h1 {
    font-size: 4.5rem;
    margin: 1rem 0;
}
header .info-text p {
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 300;
    white-space: pre-line;
}
header .info-text button {
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    background-color: var(--main-c);
    color: #fff;
    border: none;
    outline: 0;
    margin: 1rem 0;
    cursor: pointer;
    transition: .3s;
    border: 1px solid transparent;
    
}
header .info-text button:hover {
    color: var(--main-c);
    background: transparent;
    border: 1px solid var(--main-c);
}

/* Skills */
#skills .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#skills .container .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
    position: relative;

}
#skills .container .card .cont {
    width: 135px;
    margin: auto;
    height: fit-content;
    border-radius: 0;
    margin: 4rem auto;
    transition: .3s;
    padding: 0;
    height: 127px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 50%;
    overflow: hidden;
}

#skills .container .card:last-child {
    margin-right: 0;
}
#skills .container .card i {
    display: block;
    text-align: center;
    padding: 2rem calc(2rem + 4px); 
    font-size: 4rem;
    color: var(--main-c);
    width: fit-content;
    margin: auto;
    cursor: pointer;
    opacity: 1;

    border-radius: 50%;
}

#skills .container .card i:hover {
    color: #fff;
    background-color: var(--main-c);
}
#skills .container .card .desc-text {
    opacity: 0;
    transition: .1s;
    width: 1px;
    height: 0;
    margin: auto;
}
.anim-box {
    padding: 2rem !important;
    border-radius: 5rem !important;
    border: 1px solid #e1e1e1 !important;
    height: 450px !important;
    width: 100% !important;
}
.anim-box .desc-text {
    opacity: 1 !important;
    width: 100% !important;
    height: fit-content !important;
}
#skills .container .card .desc-text h4 {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-weight: 700;
    letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
    #skills .container {
        flex-direction: column;
        align-items: center;
    }
    #skills .container .card {
        margin: 0 auto !important;
    }
    .anim-box {
        height: 450px !important;
    }
    header .info-text {
        width: 100%;
    }
    header .info-text h1 {
        font-size: 3rem;
    }
}
/* success stories */
#ss {
    background-color: #e1e1e1;
    padding: 4rem 0;
}
.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}
.section-para {
    text-align: center;
    margin: 2rem 0;
    width: 50%;
    font-weight: 300;
    line-height: 1.7;
    width: 100%;
}

#ss .container .img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}
#ss .container .img-container .img {
    position: relative;
    opacity: 0;
    transform: translateX(-250px) translateY(-250px);
    transition: .6s ease-out;
}
#ss .container .img-container .img::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 2;
    transition: .5s;
    opacity: 0;
}
#ss .container .img-container .img .plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0 1rem;
    font-size: 4rem;
    background-color: var(--main-c);
    border: 1px solid var(--main-c);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    opacity: 0;

}
#ss .container .img-container .img:hover .plus, #ss .container .img-container .img:hover::before {
    opacity: 1;
    z-index: 2;
}
#ss .container .img-container img { 
    height: 300px;
    max-width: 100% !important;
    width: 100%;
    vertical-align: top;
    display: inline-block;
    position: relative;
    z-index: 1;
}

@media(max-width: 768px) {
    #ss .container .img-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
        align-items: center; 
        justify-content: center;
    }

}

/* contact  */
#contact .container {
    text-align: center;
    padding: 4rem 0;
}

.iframe {
    position: relative;
    width: fit-content;
    margin: auto;
}
.iframe .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    top: 0;
}
.iframe .overlay::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #333333;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 120px;
    height: 120px;
    color: var(--main-c);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.iframe .overlay::after {
    content: 'We Are Here';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 14px;
    
}
